Assets/Models/** filter=lfs diff=lfs merge=lfs -text
Assets/Prefabs/** filter=lfs diff=lfs merge=lfs -text
Assets/Materials/** filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
